:root {

  --vp-c-brand-1: #6b9cf1;
  --vp-c-brand-2: #407be2;
  --vp-c-brand-3: #4b78da;
  --vp-c-brand-soft: rgba(131, 208, 218, 0.314);
  
  --vp-c-bg: #fff;
  --vp-c-bg-alt: #f6f6f7;
  --vp-c-bg-elv: #fff;
  --vp-c-bg-soft: #f6f6f7;

  --vp-c-text-1: rgba(60, 60, 67);
  --vp-c-text-2: rgba(60, 60, 67, 0.78);
  --vp-c-text-3: rgba(60, 60, 67, 0.56);
  
}

/** Dark Theme Overrides **/
[data-theme="dark"] {
  
  --vp-c-brand-1: #6b9cf1;
  --vp-c-brand-2: #407be2;
  --vp-c-brand-3: #4b78da;
  --vp-c-brand-soft: rgba(131, 208, 218, 0.314);

  --vp-c-bg: #121212;
  --vp-c-bg-alt: #161616;
  --vp-c-bg-elv: #161616;
  --vp-c-bg-soft: #1E1E1E;

  --vp-c-text-1: rgba(255, 255, 245, 0.86);
  --vp-c-text-2: rgba(235, 235, 245, 0.6);
  --vp-c-text-3: rgba(235, 235, 245, 0.38);

  --vp-button-alt-bg: #1E1E1E;
  --vp-button-alt-hover-bg: #292929;
  --vp-button-alt-active-bg: #363636;
  
}

:root {
  --vp-home-hero-name-color: transparent;
  --vp-home-hero-name-background: #407be2;
    
  --vp-home-hero-tagline: var(--vp-c-text-2);
  --vp-home-hero-text: var(--vp-c-text-1);
  --vp-home-hero-image-background-image: linear-gradient(-45deg, #2367E0 50%, #2367E0 50%);
  --vp-home-hero-image-filter: blur(44px);
}